%h2 All Houseboats

- content_for :menu do
  %ul
    - @all.each do |boat|
      %li= link_to boat.name, boat

%ul.items
  - @boats.each do |boat|
    %li
      = link_to image_tag(boat.banner.url(:thumb)), boat
      .info
        %h3= link_to boat.name, boat
        asdfasdf
= paginate @boats